<div class="container">

    <div class="form-signin" ng-form name="userLogin" style="margin-top: 80px">
        <div class="alert alert-danger" ng-show="msg">
            No estas logeado para entrar a esta parte del sistema
        </div>

        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" autofocus name="email" ng-model="email" type="email" required />


        <div ng-if="userLogin.email.$error.email === true">
            <div class="alert alert-danger" style="padding:8px;margin-top:4px">Debe ser un correo valido</div>
        </div>
        <div ng-if="userLogin.email.$error.email === undefined">
            <br/>
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" ng-model="password" />
        <span class="error" ng-show="modelLogin.password.$error.maxlength">Too long!</span>
        <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="submidLogin(userLogin)">Sign in</button>
    </div>

</div>


<loader></loader>