<div ng-include="'views/template/header.html'"></div>



<!--<my-table sort="nombre" maxpage="1" values="values" id="ejemplo" ></my-table>-->
<my-table-edit title="Series" on-remove="onRemove" on-update="onUpdate" on-add="onAdd" sort="nombre" maxpage="8" values="values" id="ejemplo2"></my-table-edit>


<boostrap-dialog type-dialog="lg" title="Crear nueva serie" dialog-model="dialogCreate" modal-id="modal-create">

    <div ng-form="serieCreate" id="serieCreate">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10"> 
                <label for="name-create">Nombre*</label>
                <input style="width:100%" title="" type="text" class="form-control" ng-model="modelCreate.name" name="nameSerieCreate" 
                    ng-minlength="3" ng-maxlength="64" required/>
                <br>
                <span class="form-error" ng-show="serieCreate.nameSerieCreate.$dirty && serieCreate.nameSerieCreate.$invalid" 
                                         > Tienes Errores (req,min=3,max=64)</span>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>

        <div class="row" >
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="select-serie">Typo de serie*</label>
                    <select  id="select-serie" ng-model="modelCreate.type" name="selectSerie" class="form-control" required>
                        <option value="">Seleccione una serie</option>
                        <option ng-repeat="option in modelSeriesTypes" value="{{option.id}}">{{option.name}}</option>
                    </select>
                    <br>
                    <span class="form-error" ng-show="serieCreate.selectSerie.$invalid" >Tienes errores (req)</span>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>



        <div class="row from-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <label for="description-create">Descripcion</label>
                <textarea id="description-create" class="form-control" ng-maxlength="255" ng-model="modelCreate.description"
                    name="descriptionCreate" cols="30" rows="6"></textarea>
                <br>
                 <span class="form-error"  ng-show="serieCreate.descriptionCreate.$invalid"  >Tienes errores (max=255)</span>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success pull-right" 
                    ng-disabled="(serieCreate.nameSerieCreate.$pristine || serieCreate.nameSerieCreate.$invalid) ||
                    (serieCreate.selectSerie.$pristine || serieCreate.selectSerie.$invalid)"
                    >Guardar</button> 
                
            </div>
        </div>
    </div>


    

    <form name="form.theForm">
        <input name="myName" type="text" ng-model="model.name" />
        <input type="button" value="Here the scope" ng-click="display()"/>
    </form>

</boostrap-dialog>


<div ng-include="'views/template/footer.html'"></div>


<input type="button" value="click" ng-click="btnclick()" />



