<div ng-include="'views/template/header.html'"></div>



<!--<my-table sort="nombre" maxpage="1" values="values" id="ejemplo" ></my-table>-->
<!--<my-table-edit on-remove="onRemove" on-update="onUpdate" on-add="onAdd" sort="nombre" maxpage="8" values="values" id="ejemplo2"   ></my-table-edit> -->


<boostrap-dialog type-dialog="lg" title="soy un titulo"
    dialog-model="dialogModel" modal-id="modal" >
    este es un dialog

</boostrap-dialog>


<div ng-include="'views/template/footer.html'"></div>


<input type="button" value="click" ng-click="btnclick()"/>



